In [1]:
import pandas as pd

In [2]:
# datatypes that must be cast as strings
types = {'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID': 'str',
 'Charity_Indicator': 'str',
 'City_of_Travel': 'str',
 'Contextual_Information': 'str',
 'Country_of_Travel': 'str',
 'NDC_of_Associated_Covered_Drug_or_Biological1': 'str',
 'NDC_of_Associated_Covered_Drug_or_Biological2': 'str',
 'NDC_of_Associated_Covered_Drug_or_Biological3': 'str',
 'NDC_of_Associated_Covered_Drug_or_Biological4': 'str',
 'NDC_of_Associated_Covered_Drug_or_Biological5': 'str',
 'Name_of_Associated_Covered_Device_or_Medical_Supply1': 'str',
 'Name_of_Associated_Covered_Device_or_Medical_Supply2': 'str',
 'Name_of_Associated_Covered_Device_or_Medical_Supply3': 'str',
 'Name_of_Associated_Covered_Device_or_Medical_Supply4': 'str',
 'Name_of_Associated_Covered_Device_or_Medical_Supply5': 'str',
 'Name_of_Associated_Covered_Drug_or_Biological1': 'str',
 'Name_of_Associated_Covered_Drug_or_Biological2': 'str',
 'Name_of_Associated_Covered_Drug_or_Biological3': 'str',
 'Name_of_Associated_Covered_Drug_or_Biological4': 'str',
 'Name_of_Associated_Covered_Drug_or_Biological5': 'str',
 'Name_of_Third_Party_Entity_Receiving_Payment_or_Transfer_of_Value': 'str',
 'Physician_License_State_code2': 'str',
 'Physician_License_State_code3': 'str',
 'Physician_License_State_code4': 'str',
 'Physician_License_State_code5': 'str',
 'Physician_Name_Suffix': 'str',
 'Physician_Profile_ID': 'str',
 'Recipient_Postal_Code': 'str',
 'Recipient_Primary_Business_Street_Address_Line2': 'str',
 'Recipient_Province': 'str',
 'Recipient_Zip_Code': 'str',
 'Record_ID': 'str',
 'State_of_Travel': 'str',
 'Teaching_Hospital_ID': 'str',
 'Teaching_Hospital_Name': 'str',
 'Third_Party_Equals_Covered_Recipient_Indicator': 'str'}

## Read in the payments data set

In [3]:
df = pd.read_csv(r'payments_13/OP_DTL_GNRL_PGYR2013_P06302016.csv', dtype=types)
df.head()

,Change_Type,Covered_Recipient_Type,Teaching_Hospital_CCN,Teaching_Hospital_ID,Teaching_Hospital_Name,Physician_Profile_ID,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,Physician_Name_Suffix,...,NDC_of_Associated_Covered_Drug_or_Biological3,NDC_of_Associated_Covered_Drug_or_Biological4,NDC_of_Associated_Covered_Drug_or_Biological5,Name_of_Associated_Covered_Device_or_Medical_Supply1,Name_of_Associated_Covered_Device_or_Medical_Supply2,Name_of_Associated_Covered_Device_or_Medical_Supply3,Name_of_Associated_Covered_Device_or_Medical_Supply4,Name_of_Associated_Covered_Device_or_Medical_Supply5,Program_Year,Payment_Publication_Date
0,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,269814,CALVIN,J,KUBO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,06/30/2016
1,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,180504,LEONARD,A,KUCHEMBA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,06/30/2016
2,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,180504,LEONARD,A,KUCHEMBA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,06/30/2016
3,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,86548,RONALD,H,KURLANDER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,06/30/2016
4,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,307584,HAROLD,M,KURLANDER,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,06/30/2016

## Pare down to the columns we care about

In [5]:
payments = df[['Physician_Profile_ID', 'Physician_First_Name', 'Physician_Middle_Name',
       'Physician_Last_Name', 'Physician_Name_Suffix',
       'Recipient_Primary_Business_Street_Address_Line1',
       'Recipient_Primary_Business_Street_Address_Line2', 'Recipient_City',
       'Recipient_State', 'Recipient_Zip_Code', 'Recipient_Country',
       'Recipient_Province', 'Recipient_Postal_Code', 'Physician_Primary_Type',
       'Physician_Specialty', 'Physician_License_State_code1',
       'Physician_License_State_code2', 'Physician_License_State_code3',
       'Physician_License_State_code4', 'Physician_License_State_code5',
       'Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name',
       'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID',
       'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name',
       'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State',
       'Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country',
       'Total_Amount_of_Payment_USDollars', 'Date_of_Payment',
       'Number_of_Payments_Included_in_Total_Amount',
       'Form_of_Payment_or_Transfer_of_Value',
       'Nature_of_Payment_or_Transfer_of_Value',]]

In [6]:
payment_info = payments[['Physician_Profile_ID', 'Physician_First_Name', 'Physician_Middle_Name',
       'Physician_Last_Name',
       'Recipient_Primary_Business_Street_Address_Line1', 'Recipient_City',
       'Recipient_State']]

Now we have the information we need to look up a provider in the NPPES dataset

In [7]:
payment_info.head()

,Physician_Profile_ID,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,Recipient_Primary_Business_Street_Address_Line1,Recipient_City,Recipient_State
0,269814,CALVIN,J,KUBO,9500 STOCKDALE HWY,BAKERSFIELD,CA
1,180504,LEONARD,A,KUCHEMBA,610 WYOMING AVE,KINGSTON,PA
2,180504,LEONARD,A,KUCHEMBA,610 WYOMING AVE,KINGSTON,PA
3,86548,RONALD,H,KURLANDER,1 MEDICAL PLZ,POMPANO BEACH,FL
4,307584,HAROLD,M,KURLANDER,909 FROSTWOOD DR,HOUSTON,TX

## Read in the NPPES dataset

We will use this to lookup a provider's NPI from their first_name, middle_name, last_name, address, state, and city given in the payments dataset.

In [8]:
nppes = pd.read_csv(r'NPPES/npidata_20050523-20170108.csv', usecols=['NPI', 'Provider Last Name (Legal Name)', 'Provider First Name', 'Provider Middle Name', 'Provider First Line Business Mailing Address', 'Provider Business Mailing Address City Name', 'Provider Business Mailing Address State Name'], dtype={'Provider Business Mailing Address Postal Code': 'str'})
nppes.head()

,NPI,Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider First Line Business Mailing Address,Provider Business Mailing Address City Name,Provider Business Mailing Address State Name
0,1679576722,WIEBE,DAVID,A,PO BOX 2168,KEARNEY,NE
1,1588667638,PILCHER,WILLIAM,C,1824 KING STREET,JACKSONVILLE,FL
2,1497758544,NaN,NaN,NaN,3418 VILLAGE DR,FAYETTEVILLE,NC
3,1306849450,SMITSON,HAROLD,LEROY,810 LUCAS DR,ATHENS,TX
4,1215930367,GRESSOT,LAURENT,NaN,17323 RED OAK DR,HOUSTON,TX

In [9]:
nppes.columns = ['NPI', 'last_name', 'first_name', 'middle_name', 'address', 'city', 'state']
payment_info.columns = ['Physician_Profile_ID', 'first_name', 'middle_name', 'last_name', 'address', 'city', 'state']

In [10]:
nppes.head()

,NPI,last_name,first_name,middle_name,address,city,state
0,1679576722,WIEBE,DAVID,A,PO BOX 2168,KEARNEY,NE
1,1588667638,PILCHER,WILLIAM,C,1824 KING STREET,JACKSONVILLE,FL
2,1497758544,NaN,NaN,NaN,3418 VILLAGE DR,FAYETTEVILLE,NC
3,1306849450,SMITSON,HAROLD,LEROY,810 LUCAS DR,ATHENS,TX
4,1215930367,GRESSOT,LAURENT,NaN,17323 RED OAK DR,HOUSTON,TX

Remove the duplicates from the payments dataset

In [11]:
payment_info = payment_info.drop_duplicates()

Merge the NPPES dataset with the payment information on the provider address info

In [12]:
payment_npi = payment_info.merge(nppes, on=['last_name', 
                                            'first_name', 
                                            'middle_name', 
                                            'address', 
                                            'city', 'state'], how='inner')

Drop any duplicate address/name combinations

In [13]:
payment_npi = payment_npi[~payment_npi.duplicated(subset=['last_name', 
                                                          'first_name', 
                                                          'middle_name', 
                                                          'address', 
                                                          'city', 'state'] ,keep=False)]

In [14]:
payment_npi.head()

,Physician_Profile_ID,first_name,middle_name,last_name,address,city,state,NPI
0,155645,JONATHAN,K,KUROHARA,2876 SYCAMORE DR,SIMI VALLEY,CA,1427023407
1,103390,RALPH,NaN,PALUMBO,1601 CLINT MOORE RD,BOCA RATON,FL,1295717718
2,175237,SANJIV,A,PATEL,1130 UPPER FRONT ST,BINGHAMTON,NY,1861564999
3,244224,STEVEN,J,PETIT,630 S RAYMOND AVE,PASADENA,CA,1376567495
4,130534,MANANA,NaN,PETROV,353 OCEAN AVE,BROOKLYN,NY,1881620227

In [16]:
payment_npi[['Physician_Profile_ID', 'NPI']].head()

  Physician_Profile_ID         NPI
0               155645  1427023407
1               103390  1295717718
2               175237  1861564999
3               244224  1376567495
4               130534  1881620227

Export the physician_profile to NPI mapping

In [21]:
# payment_npi[['Physician_Profile_ID', 'NPI']].to_csv(r'payment_npi_mapping.csv')